@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");

.selectPlanetDiv {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
    180deg,
    rgba(65, 53, 90, 1) 0%,
    rgba(105, 92, 142, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  .planetDiv {
    width: 25%;
    height: 100%;
    .divTextPlanet {
      margin-bottom: 43vh;
      z-index: 1;
      p {
        color: rgb(255, 255, 255);
        z-index: 4;
        font-family: "KoHo", sans-serif;
        font-size: 25px;
      }
    }
    .divCentrage {
      position: absolute;
      .divPlanet {
        border-radius: 50%;
        width: 280px;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-23deg);
        transition: 1.3s;
        &:hover {
          transform: scale(110%);
          transition: 0.2s;
        }
        .barre {
          width: 2px;
          height: 350px;
          background: rgb(87, 87, 87);
          position: absolute;
          transition: height 1.3s;
        }

        #terraNova {
          border-radius: 50%;
          background-size: cover;
          box-shadow: -20px -20px 50px 2px #ffffff inset, 0 0 20px #ffffff;
          width: 280px;
          height: 280px;
          animation: spin 30s linear infinite;
          transition: 1.3s ease-out;
          background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18fc9e8c-8d1d-4492-a808-d125b9310556/d7pxfv4-6a44b369-8c61-41c8-937b-432f356e5ec7.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE4ZmM5ZThjLThkMWQtNDQ5Mi1hODA4LWQxMjViOTMxMDU1NlwvZDdweGZ2NC02YTQ0YjM2OS04YzYxLTQxYzgtOTM3Yi00MzJmMzU2ZTVlYzcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ee-eKe4cRDHjefvkVSp2FdJrh0kSKMU9FOsYQC3-5pk);
          z-index: 1;
          cursor: pointer;
          &:hover {
            transition: 0.2s;
            box-shadow: -20px -20px 50px 2px #50748f inset, 0 0 50px 2px #50748f;
          }
        }
      }
    }
    .divPlanet:hover .barre {
      height: 220px;
      transition: 0.2s;
    }
  }

  .planetDiv {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .divTextPlanet {
      margin-bottom: 43vh;
      z-index: 1;
      p {
        color: rgb(255, 255, 255);
        z-index: 4;
        font-family: "KoHo", sans-serif;
      }
    }
    .divCentrage {
      position: absolute;
      .divPlanet2 {
        border-radius: 50%;
        width: 280px;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(10deg);
        transition: 1.3s;
        &:hover {
          transform: scale(110%);
          transition: 0.2s;
        }
        .barre2 {
          width: 2px;
          height: 350px;
          background: rgb(87, 87, 87);
          position: absolute;
          transition: height 1.3s;
        }
        #Pyrotopia {
          cursor: pointer;
          border-radius: 50%;
          background-size: cover;
          box-shadow: -20px -20px 50px 2px #ffffff inset, 0 0 20px #ffffff;
          width: 280px;
          height: 280px;
          animation: spin 30s linear infinite;
          transition: 1.3s ease-out;
          background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1c/Solarsystemscope_texture_8k_venus_surface.jpg);
          z-index: 1;
          &:hover {
            transition: 0.2s;
            box-shadow: -20px -20px 50px 2px #f5bc60a4 inset,
              0 0 50px 2px #c98300;
          }
        }
      }
    }
    .divPlanet2:hover .barre2 {
      height: 220px;
      transition: 0.2s;
    }
  }

  .planetDiv {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .divTextPlanet {
      margin-bottom: 43vh;
      z-index: 1;
      p {
        color: rgb(255, 255, 255);
        z-index: 4;
        font-family: "KoHo", sans-serif;
      }
    }
    .divCentrage {
      position: absolute;
      .divPlanet3 {
        border-radius: 50%;
        width: 280px;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(20deg);
        transition: 1.3s;
        &:hover {
          transform: scale(110%);
          transition: 0.2s;
        }
        .barre3 {
          width: 2px;
          height: 350px;
          background: rgb(87, 87, 87);
          position: absolute;
          transition: height 1.3s;
        }
        #Glaciara {
          cursor: pointer;
          border-radius: 50%;
          background-size: cover;
          box-shadow: -20px -20px 50px 2px #ffffff inset, 0 0 20px #ffffff;
          width: 280px;
          height: 280px;
          animation: spin 30s linear infinite;
          transition: 1.3s ease-out;
          background-image: url(https://i.pinimg.com/originals/ee/7e/b3/ee7eb380d570674fb1a47c326c8687b2.jpg);
          z-index: 1;
          &:hover,
          &:focus {
            transition: 0.2s;
            box-shadow: 0px 0px 50px 2px #bebebe inset, 0px 0px 50px 2px #bebebe;
          }
        }
      }
    }
    .divPlanet3:hover .barre3 {
      height: 220px;
      transition: 0.2s;
    }
  }
  .planetDiv {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .divTextPlanet {
      margin-bottom: 40vh;
      z-index: 1;
      p {
        color: rgb(255, 255, 255);
        z-index: 4;
        font-family: "KoHo", sans-serif;
      }
    }
    .divCentrage {
      position: absolute;
      .divPlanet4 {
        border-radius: 50%;
        width: 280px;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-33deg);
        transition: 1.3s;
        &:hover,
        &:focus {
          transform: scale(110%);
          transition: 0.2s;
        }
        .barre4 {
          width: 2px;
          height: 350px;
          background: rgb(87, 87, 87);
          position: absolute;
          transition: height 1.3s;
        }
        #Terraria {
          cursor: pointer;
          border-radius: 50%;
          background-size: cover;
          box-shadow: -20px -20px 50px 2px #ffffff inset, 0 0 20px #ffffff;
          width: 280px;
          height: 280px;
          animation: spin 30s linear infinite;
          transition: 1.3s ease-out;
          background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/06a094a4-7bd7-4bb9-b998-6c1e17f66c08/dbpxndx-6d4755a5-6af0-485f-9b30-538c56c5e946.jpg/v1/fill/w_1024,h_512,q_75,strp/io_truecolor_texture_map_8k_by_fargetanik_dbpxndx-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTEyIiwicGF0aCI6IlwvZlwvMDZhMDk0YTQtN2JkNy00YmI5LWI5OTgtNmMxZTE3ZjY2YzA4XC9kYnB4bmR4LTZkNDc1NWE1LTZhZjAtNDg1Zi05YjMwLTUzOGM1NmM1ZTk0Ni5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.EcyocvEiSTNxnDHsDTWG84rKfP_1QusxICjPv_kPhLU);
          z-index: 1;
          &:hover {
            transition: 0.2s;
            box-shadow: -20px -20px 50px 2px #fffeaaa0 inset,
              0 0 50px 2px #e0d27f;
          }
        }
      }
    }
    .divPlanet4:hover .barre4 {
      height: 220px;
      transition: 0.2s;
    }
    .divPlanet4:focus-within {
      transition: 1s;
      transform: rotate(0deg);
      transform: scale(110%);
      .barre4 {
        height: 220px;
      }
    }
    .divPlanet:focus-within {
      transition: 1s;
      transform: rotate(0deg);
      transform: scale(110%);
      .barre {
        height: 220px;
      }
    }
    .divPlanet2:focus-within {
      transition: 1s;
      transform: rotate(0deg);
      transform: scale(110%);
      .barre2 {
        height: 220px;
      }
    }
    .divPlanet3:focus-within {
      transition: 1s;
      transform: rotate(0deg);
      transform: scale(110%);
      .barre3 {
        height: 220px;
      }
    }
  }
}

.boxImageNTitle {
  height: 300px;
  width: 300px;
}

@keyframes spin {
  100% {
    background-position: 100%;
  }
}
