@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.StepsGlobal {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5%;

  #FirstColumns,
  #SecondColumns,
  #ThirdColumns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    padding: 10px;
    width: 100%;
    height: 50%;
    h2 {
      text-align: center;
      font-size: 1.5vw;
      font-family: "Roboto", sans-serif;
    }
    p {
      text-align: justify;
      font-size: 1vw;
      font-family: "Roboto", sans-serif;
    }
  }
}
