.popupItemDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;

  h1 {
    font-size: 4vw;
  }
}
.selectPlanet {
  overflow: hidden;
  width: 100%;
  height: fit-content;
}
.selectPlanet {
  overflow: hidden;
  width: 100%;
  height: fit-content;
}

.newEra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}
