body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Définition de la police pour la classe dyslexic-font */
.dyslexic-font {
  font-family: "OpenDyslexic", sans-serif; /* Remplacez par votre police spéciale */
}

/* Styles spécifiques pour les boutons dans la classe dyslexic-font */
.dyslexic-font button {
  font-family: "OpenDyslexic", sans-serif; /* Remplacez par votre police spéciale */
}

/* Styles spécifiques pour les champs de saisie dans la classe dyslexic-font */
.dyslexic-font input {
  font-family: "OpenDyslexic", sans-serif; /* Remplacez par votre police spéciale */
}

/* Styles globaux pour la police classique (classicFont) */
/* Définissez les styles pour la police classique ici */

/* Styles spécifiques pour les boutons dans la police classique (classicFont) */
.classicFont button {
  font-family: "Times New Roman", Times, serif;
}

/* Styles spécifiques pour les champs de saisie dans la police classique (classicFont) */
.classicFont input {
  font-family: "Times New Roman", Times, serif;
}

/* ... Autres styles globaux ... */
@font-face {
  font-family: "OpenDyslexic";
  src: url(../src/assets/fonts/OpenDyslexic-Regular.otf);
}
